*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    
}

body{
    background-color: #000000;
    height: 100%;
    width: 100%;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

img{
    height: 25%;
    width: 25%;
    position: absolute;
    left: 37.5%;
    right: 37.5%;
    top: 37.5%;
    bottom: 37.5%;
    animation: rotation 5s linear infinite
}

img.hidden{
    display: none;
}