<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/detail_crayon_couleurs.css">
</head>
<body>
    {% extends "navbar.html" %}
    {% block main %} 
    <div class="grandeDiv">
        <div class="triangle"></div>
        <img src="../static/images/papier_carton.jpeg" alt="" width="280px" height="380px">
        <h3 class="nom">Papier cartonné</h3>
        <h4>1.800FCFA</h4>
    </div>
    <a href=""><button>Ajouter au panier</button></a>
    <div class="descriptions">
        <h3 class="qte">Description</h3>
        <p> <span class="ligne1">Papier Carton Robuste pour Projets Créatifs et Plus</span>
            <span class="ligne2"><br>Découvrez la polyvalence et la durabilité avec notre papier carton de qualité supérieure. 
            <br>Que vous soyez un artiste créatif ou un bricoleur passionné, ce papier carton robuste est l'allié idéal pour tous vos projets.

        </span> <br>
           
        </p>

    </div>
</body>
</html>
{% endblock %} 