<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/detail_crayon_couleurs.css">
</head>
<body>
    {% extends "navbar.html" %}
    {% block main %}
    <div class="grandeDiv">
        <div class="triangle"></div>
        <img src="../static/images/Boite à mqnger.png" alt="" width="280px" height="380px">
        <h3 class="nom">Boîte à gouter</h3>
        <h4>1300 FCFA</h4>
    </div>
    <a href=""><button>Ajouter au panier</button></a>
    <div class="descriptions">
        <h3 class="qte">Description</h3>
        <p> <span class="ligne1">Boîte à Goûter Pratique et Ludique</span>
            <span class="ligne2"><br>Découvrez notre boîte à goûter conçue pour rendre les moments de collation encore plus spéciaux ! 
                <br>Cette boîte combine fonctionnalité et design ludique pour accompagner vos enfants dans leurs aventures quotidiennes.</span> <br>
           
        </p>

    </div>
</body>
</html>
{% endblock %} 