<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/detail_crayon_couleurs.css">
</head>
<body>
    {% extends "navbar.html" %}
    {% block main %} 
    <div class="grandeDiv">
        <div class="triangle"></div>
        <img src="../static/images/GOMME.png" alt="" width="280px" height="380px">
        <h3 class="nom">Gomme</h3>
        <h4>500 FCFA</h4>
    </div>
    <a href=""><button>Ajouter au panier</button></a>
    <div class="descriptions">
        <h3 class="qte">Description</h3>
        <p> <span class="ligne1">Gomme Ergonomique Haute Performance</span>
            <span class="ligne2"><br>Découvrez la gomme ultime pour une expérience d'effaçage exceptionnelle ! 
                <br>Notre gomme ergonomique haute performance est conçue pour répondre à toutes vos attentes d'effaçage tout en offrant un confort supérieur.</span> <br>
           
        </p>

    </div>
</body>
</html>
{% endblock %} 