<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page produit</title>
    <link rel="stylesheet" href="../static/css/page_produit_lycee.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">


</head>
<body>
    <nav>
        <img src="../static/images/logo.svg" alt="logo">
        <ul class="elements_nav">
            <a href='{{ url_for("accueil") }}'><li>Accueil</li></a>
            <a href='{{ url_for("categories") }}'><li>Categories</li></a>
            <a href=""><li>A propos</li></a>
        </ul>
        <ul class="menu_deroulant">
            <li><a href="">Connexion</a>
                <ul class="sous_menu">
                    <a href='{{ url_for("inscription") }}'><li>S'inscrire</li></a>
                    <a href='{{ url_for("connexion") }}'><li>Se_connecter</li></a>
                </ul>
            </li>
        </ul>
        <input type="search" id="site-search" name="q" placeholder="Rechercher un produit...">
    </nav>

    <div class="container">
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/coloriages-animaux-vignette.png" alt="Product Image">
            <h2 class="product-title">Cahiers de coloriage</h2>
            <p class="product-price">2.500 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <button onclick="checkout1()" class="bt1">Payer</button>
                <a href='{{url_for("detail_ccL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>

        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/GOMME.png" alt="Product Image">
            <h2 class="product-title">Gomme </h2>
            <p class="product-price">500 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <button onclick="checkout2()" class="bt1">Ajouter</button>      
                <a href='{{url_for("gommeL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>

        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/COLORIAGE.jpg" alt="Product Image">
            <h2 class="product-title">Cahier de coloriage et de découpage</h2>
            <p class="product-price">1.500 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <button onclick="checkout3()" class="bt1">Ajouter</button>
                <a href='{{url_for("dessinL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/Gourde.png" alt="Product Image">
            <h2 class="product-title">Gourde</h2>
            <p class="product-price">2.750 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <button onclick="checkout4()" class="bt1">Ajouter</button>
                <a href='{{url_for("gourdeL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>

        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/Boite à mqnger.png" alt="Product Image">
            <h2 class="product-title">Boite à gouter</h2>
            <p class="product-price">1.300 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <button onclick="checkout5()" class="bt1">Ajouter</button>
                <a href='{{url_for("boite_gouterL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>

        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/IMAGES/g106.jpg" alt="Product Image">
            <h2 class="product-title">Livre d'histoire </h2>
            <p class="product-price">5.000 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("livre_histoireL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>

        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/crayoncoulers.png" alt="Product Image">
            <h2 class="product-title"> Crayon de couleurs </h2>
            <p class="product-price">1.000 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("crayon_couleursL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/ciseau.jpg" alt="Product Image">
            <h2 class="product-title"> Ciseaux </h2>
            <p class="product-price">1.000 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("ciseauL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/colle.jpg" alt="Product Image">
            <h2 class="product-title"> Pot de colle </h2>
            <p class="product-price">500 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("colleL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/crayons_papier.jpg" alt="Product Image">
            <h2 class="product-title"> Crayon à papier</h2>
            <p class="product-price">500 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("crayonL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/feutre.jpg" alt="Product Image">
            <h2 class="product-title"> Feutre lavable </h2>
            <p class="product-price">3.500 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("feutreL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/papier_carton.jpeg" alt="Product Image">
            <h2 class="product-title"> Papier cartonné </h2>
            <p class="product-price">1.800 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("papier_cartonL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        <div class="product-card">
            <div class="triangle"></div>
            <img class="product-image" src="../static/images/tablier.jpg" alt="Product Image">
            <h2 class="product-title"> Tablier </h2>
            <p class="product-price">4.350 FCFA</p>
            <p class="product-rating">★★★★★</p>
            <div class="product-buttons">
                <a href=""><button class="bt1">Ajouter</button></a>
                <a href='{{url_for("tablierL")}}'><button class="bt2">Voir plus</button></a>
            </div>
        </div>
        

    <footer class="bg-body-tertiary text-center">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
          <!-- Section: Social media -->
          <section class="mb-4">
            <!-- Facebook -->
            <a
            data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #3b5998;"
              href="#!"
              role="button"
              ><i class="fab fa-facebook-f"></i
            ></a>
      
            <!-- Twitter -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #55acee;"
              href="#!"
              role="button"
              ><i class="fab fa-twitter"></i
            ></a>
      
            <!-- Google -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #dd4b39;"
              href="#!"
              role="button"
              ><i class="fab fa-google"></i
            ></a>
      
            <!-- Instagram -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #ac2bac;"
              href="#!"
              role="button"
              ><i class="fab fa-instagram"></i
            ></a>
      
            <!-- Linkedin -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #0082ca;"
              href="#!"
              role="button"
              ><i class="fab fa-linkedin-in"></i
            ></a>
            <!-- Github -->
            <a
              data-mdb-ripple-init
              class="btn text-white btn-floating m-1"
              style="background-color: #333333;"
              href="#!"
              role="button"
              ><i class="fab fa-github"></i>
            </a>
          </section>
          <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2024 Copyright:
          <a class="text-body" style="text-decoration: none;" style="color: #0377E3;" href="#">Josué KOUADIO x Ousmane GUIDJERA x Ange KOUADIO</a>
        </div>
        <!-- Copyright -->
      </footer>

             <script>
        window.onload = function() {
    const searchBox = document.getElementById('site-search');
    searchBox.addEventListener('keyup', function(e) {
        const searchStr = e.target.value.toLowerCase();
        const productCards = document.querySelectorAll('.product-card');
        productCards.forEach(card => {
            const productTitle = card.querySelector('.product-title').textContent.toLowerCase();
            if (productTitle.includes(searchStr)) {
                card.style.display = '';
            } else {
                card.style.display = 'none';
            }
        });
    });
};
    </script>
      
        </html>
        </body>